<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="i4nc4mp.myLock"
      android:versionCode="26"
      android:versionName="1.5"
      android:sharedUserId="i4nc4mp.myLockAutoUnlock"
      android:sharedUserLabel="@string/userlabel">
      
      <!-- Permission Declaration (so plugin download will work) 
      now obsolete due to the declaring a sharedUserId-->
    <permission android:name="i4nc4mp.myLock.permission.toggle"
        android:label="@string/permlab_toggle"
        android:description="@string/permdesc_toggle"
        android:protectionLevel="signature" />
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <activity android:name=".MainPreferenceActivity"
                  android:label="myLock Prefs"
                  android:launchMode="singleInstance"
                  android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="ToggleWidget" >
			<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    	<meta-data android:name="android.appwidget.provider"
               android:resource="@xml/toggle_widget" />
</receiver>
		<!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"-->
		<!--android:theme="@android:style/Theme.Wallpaper"-->
       <activity android:name="BasicGuardActivity"
                android:excludeFromRecents="true"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.Wallpaper"
                android:taskAffinity=""
                android:screenOrientation="nosensor"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>
       <activity android:name="DismissActivity"
                android:excludeFromRecents="true"
                android:launchMode="standard"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:taskAffinity=""
                android:screenOrientation="nosensor"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>
       <activity android:name="AutoDismissActivity"
                android:excludeFromRecents="true"
                android:launchMode="standard"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:taskAffinity=""
                android:screenOrientation="nosensor"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>      
       
       <activity android:name="IdleSetup"
                  android:label="@string/idlelabel"
                 android:theme="@android:style/Theme.Dialog"
                  exported="true"></activity>
       
       <activity android:name="Lockdown"
                android:excludeFromRecents="true"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:taskAffinity=""
                android:screenOrientation="portrait">               
                </activity>
               
                
        <activity android:name="InstantLockdown"
                android:excludeFromRecents="true"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:taskAffinity=""
                android:screenOrientation="portrait">
                </activity>
        
       <activity android:name="UnguardService$UnguardActivity"
                android:excludeFromRecents="true"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
                android:taskAffinity=""
                android:screenOrientation="portrait">
               </activity>


        <receiver android:name=".myLockBootReceiver" 
        android:enabled="true" 
        android:exported="false"
        android:label="myLockBootReceiver">
        <intent-filter>
        	<action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        </receiver>
        <receiver
            android:name=".IdleTimeout"
            android:enabled="true"
        >
            <intent-filter>
                <action
                    android:name="i4nc4mp.myLock.IDLE_TIMEOUT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ForceLock"
            android:enabled="true"
        >
            <intent-filter>
                <action
                    android:name="i4nc4mp.myLock.FORCE_LOCK" />
            </intent-filter>
        </receiver>
        
        
        <service android:name=".Toggler"
        android:permission="i4nc4mp.myLock.permission.toggle"
        android:exported="true"></service>
        <service android:name=".AutoDismiss"></service>
        <service android:name=".BasicGuardService"></service>
        <service android:name=".UnguardService"></service>

        <service android:name=".BootHandler"></service>
        <service android:name=".UserPresentService"></service>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
    android:name="android.permission.WAKE_LOCK" />
    <uses-permission
    android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
    android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission
    android:name="android.permission.READ_PHONE_STATE" />
    
    <uses-permission android:name="i4nc4mp.myLock.permission.toggle"></uses-permission>
    
    <uses-sdk android:minSdkVersion="5" />
    <uses-sdk android:targetSdkVersion="7" />
</manifest> 
